@-webkit-keyframes zoeti-push{
  60%{
    -webkit-transform:scale(0.6);transform:scale(0.6)
  }
  100%{
    -webkit-transform:scale(1.0);transform:scale(1.0)
  }
}

@keyframes zoeti-push{
  60%{
    -webkit-transform:scale(0.6);transform:scale(0.6)
  }
  100%{
    -webkit-transform:scale(1.0);transform:scale(1.0)
  }
}

.zoeti-push{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-push:active,.zoeti-push:focus,.zoeti-push:hover{
  -webkit-animation-name:zoeti-push;
  animation-name:zoeti-push;
  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-pop{
  50%{
    -webkit-transform:scale(1.4);
    transform:scale(1.4)
  }
}

@keyframes zoeti-pop{
  50%{
    -webkit-transform:scale(1.4);
    transform:scale(1.4)
  }
}

.zoeti-pop{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-pop:active,.zoeti-pop:focus,.zoeti-pop:hover{
  -webkit-animation-name:zoeti-pop;
  animation-name:zoeti-pop;
  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

.zoeti-enlarge{
  display:inline-block;
  vertical-align:middle;

  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform
}

.zoeti-enlarge:active,.zoeti-enlarge:focus,.zoeti-enlarge:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2)
}

.zoeti-diminish{
  display:inline-block;
  vertical-align:middle;

  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform
}

.zoeti-diminish:active,.zoeti-diminish:focus,.zoeti-diminish:hover{
  -webkit-transform:scale(0.8);
  transform:scale(0.8)
}

@-webkit-keyframes zoeti-throb{
  20%{
    -webkit-transform:scale(1.2);
    transform:scale(1.2)
  }
  80%{
    -webkit-transform:scale(0.8);
    transform:scale(0.8)
  }
}

@keyframes zoeti-throb{
  20%{
    -webkit-transform:scale(1.2);
    transform:scale(1.2)
  }
  80%{
    -webkit-transform:scale(0.8);
    transform:scale(0.8)
  }
}

.zoeti-throb{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-throb:active,.zoeti-throb:focus,.zoeti-throb:hover{
  -webkit-animation-name:zoeti-throb;
  animation-name:zoeti-throb;
  -webkit-animation-duration:0.8s;
  animation-duration:0.8s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

@-webkit-keyframes zoeti-throb-enlarge{
  to{
    -webkit-transform:scale(1.2);
    transform:scale(1.2)
  }
}

@keyframes zoeti-throb-enlarge{
  to{
    -webkit-transform:scale(1.2);
    transform:scale(1.2)
  }
}

.zoeti-throb-enlarge{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-throb-enlarge:active,.zoeti-throb-enlarge:focus,.zoeti-throb-enlarge:hover{
  -webkit-animation-name:zoeti-throb-enlarge;
  animation-name:zoeti-throb-enlarge;
  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  animation-direction:alternate
}

@-webkit-keyframes zoeti-throb-diminish{
  to{
    -webkit-transform:scale(0.8);
    transform:scale(0.8)
  }
}

@keyframes zoeti-throb-diminish{
  to{
    -webkit-transform:scale(0.8);
    transform:scale(0.8)
  }
}

.zoeti-throb-diminish{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-throb-diminish:active,.zoeti-throb-diminish:focus,.zoeti-throb-diminish:hover{
  -webkit-animation-name:zoeti-throb-diminish;
  animation-name:zoeti-throb-diminish;
  -webkit-animation-duration:0.4s;
  animation-duration:0.4s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  animation-direction:alternate
}

.zoeti-throb-in{
  display:inline-block;
  vertical-align:middle;

  -webkit-transition-duration:0.4s;
  transition-duration:0.4s
}

.zoeti-throb-in:active,.zoeti-throb-in:focus,.zoeti-throb-in:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  -webkit-transition-timing-function:cubic-bezier(0.1,2.0,.9,-.85);
  transition-timing-function:cubic-bezier(0.1,2.0,.9,-.85)
}

.zoeti-throb-out{
  display:inline-block;
  vertical-align:middle;

  -webkit-transition-duration:0.4s;
  transition-duration:0.4s
}

.zoeti-throb-out:active,.zoeti-throb-out:focus,.zoeti-throb-out:hover{
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  -webkit-transition-timing-function:cubic-bezier(0.1,2.0,.9,-.85);
  transition-timing-function:cubic-bezier(0.1,2.0,.9,-.85)
}

.zoeti-rotate{
  display:inline-block;
  vertical-align:middle;

  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform
}

.zoeti-rotate:active,.zoeti-rotate:focus,.zoeti-rotate:hover{
  -webkit-transform:rotate(10deg);
  transform:rotate(10deg)
}

.zoeti-reverse-rotate{
  display:inline-block;
  vertical-align:middle;

  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform
}

.zoeti-reverse-rotate:active,.zoeti-reverse-rotate:focus,.zoeti-reverse-rotate:hover{
  -webkit-transform:rotate(-10deg);
  transform:rotate(-10deg)
}

.zoeti-elevate{
  display:inline-block;
  vertical-align:middle;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out
}

.zoeti-elevate:active,.zoeti-elevate:focus,.zoeti-elevate:hover{
  -webkit-transform:translateY(-10px);
  transform:translateY(-10px)
}

.zoeti-lower{
  display:inline-block;
  vertical-align:middle;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out
}

.zoeti-lower:active,.zoeti-lower:focus,.zoeti-lower:hover{
  -webkit-transform:translateY(10px);
  transform:translateY(10px)
}

@-webkit-keyframes zoeti-bounce{
  0%{
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
  }
  25%{
    -webkit-transform:translateY(-2.5px);
    transform:translateY(-2.5px)
  }
  50%{
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
  }
  75%{
    -webkit-transform:translateY(2.5px);
    transform:translateY(2.5px)
  }
  100%{
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
  }
}

@keyframes zoeti-bounce{
  0%{
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
  }
  25%{
    -webkit-transform:translateY(-2.5px);
    transform:translateY(-2.5px)
  }
  50%{
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
  }
  75%{
    -webkit-transform:translateY(2.5px);
    transform:translateY(2.5px)
  }
  100%{
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
  }
}

.zoeti-bounce{
  display:inline-block;
  vertical-align:middle;

  -webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition:         all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.zoeti-bounce:active,.zoeti-bounce:focus,.zoeti-bounce:hover{
  -webkit-animation-name:zoeti-bounce;
  animation-name:zoeti-bounce;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;

  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

@-webkit-keyframes zoeti-sink{
  100%{
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
}

@keyframes zoeti-sink{
  100%{
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
}

@-webkit-keyframes zoeti-dangle{
  0%{
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
  50%{
    -webkit-transform:translateY(5px);
    transform:translateY(5px)
  }
  100%{
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
}

@keyframes zoeti-dangle{
  0%{
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
  50%{
    -webkit-transform:translateY(2.5px);
    transform:translateY(2.5px)
  }
  100%{
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
}

.zoeti-dangle{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-dangle:active,.zoeti-dangle:focus,.zoeti-dangle:hover{
  -webkit-animation-name:zoeti-sink, zoeti-dangle;
  animation-name:zoeti-sink, zoeti-dangle;
  -webkit-animation-duration:0.4s,1.0s;
  animation-duration:0.4s,1.0s;
  -webkit-animation-delay:0s,0.4s;
  animation-delay:0s,0.4s;

  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:1,infinite;
  animation-iteration-count:1,infinite;
}

.zoeti-skew-backward{
  display:inline-block;
  vertical-align:middle;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%
}

.zoeti-skew-backward:active,.zoeti-skew-backward:focus,.zoeti-skew-backward:hover{
  -webkit-transform:skew(15deg);
  transform:skew(15deg)
}

.zoeti-skew{
  display:inline-block;
  vertical-align:middle;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform
}

.zoeti-skew:active,.zoeti-skew:focus,.zoeti-skew:hover{
  -webkit-transform:skew(-15deg);
  transform:skew(-15deg)
}

.zoeti-skew-forward{
  display:inline-block;
  vertical-align:middle;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-property:transform;
  transition-property:transform;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%
}

.zoeti-skew-forward:active,.zoeti-skew-forward:focus,.zoeti-skew-forward:hover{
  -webkit-transform:skew(-15deg);
  transform:skew(-15deg)
}

@-webkit-keyframes zoeti-wobble-vertical{
  10%{
    -webkit-transform:translateY(16px);
    transform:translateY(16px)
  }
  20%{
    -webkit-transform:translateY(-14px);
    transform:translateY(-14px)
  }
  30%{
    -webkit-transform:translateY(12px);
    transform:translateY(12px)
  }
  40%{
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px)
  }
  50%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
  }
  60%{
    -webkit-transform:translateY(-6px);
    transform:translateY(-6px)
  }
  70%{
    -webkit-transform:translateY(4px);
    transform:translateY(4px)
  }
  80%{
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px)
  }
  90%{
    -webkit-transform:translateY(1px);
    transform:translateY(1px)
  }
  100%{
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
}

@keyframes zoeti-wobble-vertical{
  10%{
    -webkit-transform:translateY(16px);
    transform:translateY(16px)
  }
  20%{
    -webkit-transform:translateY(-14px);
    transform:translateY(-14px)
  }
  30%{
    -webkit-transform:translateY(12px);
    transform:translateY(12px)
  }
  40%{
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px)
  }
  50%{
    -webkit-transform:translateY(8px);
    transform:translateY(8px)
  }
  60%{
    -webkit-transform:translateY(-6px);
    transform:translateY(-6px)
  }
  70%{
    -webkit-transform:translateY(4px);
    transform:translateY(4px)
  }
  80%{
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px)
  }
  90%{
    -webkit-transform:translateY(1px);
    transform:translateY(1px)
  }
  100%{
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
}

.zoeti-wobble-vertical{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-wobble-vertical:active,.zoeti-wobble-vertical:focus,.zoeti-wobble-vertical:hover{
  -webkit-animation-name:zoeti-wobble-vertical;
  animation-name:zoeti-wobble-vertical;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-wobble-horizontal{
  10%{
    -webkit-transform:translateX(16px);
    transform:translateX(16px)
  }
  20%{
    -webkit-transform:translateX(-14px);
    transform:translateX(-14px)
  }
  30%{
    -webkit-transform:translateX(12px);
    transform:translateX(12px)
  }
  40%{
    -webkit-transform:translateX(-10px);
    transform:translateX(-10px)
  }
  50%{
    -webkit-transform:translateX(8px);
    transform:translateX(8px)
  }
  60%{
    -webkit-transform:translateX(-6px);
    transform:translateX(-6px)
  }
  70%{
    -webkit-transform:translateX(4px);
    transform:translateX(4px)
  }
  80%{
    -webkit-transform:translateX(-2px);
    transform:translateX(-2px)
  }
  90%{
    -webkit-transform:translateX(1px);
    transform:translateX(1px)
  }
  100%{
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
}

@keyframes zoeti-wobble-horizontal{
  10%{
    -webkit-transform:translateX(16px);
    transform:translateX(16px)
  }
  20%{
    -webkit-transform:translateX(-14px);
    transform:translateX(-14px)
  }
  30%{
    -webkit-transform:translateX(12px);
    transform:translateX(12px)
  }
  40%{
    -webkit-transform:translateX(-10px);
    transform:translateX(-10px)
  }
  50%{
    -webkit-transform:translateX(8px);
    transform:translateX(8px)
  }
  60%{
    -webkit-transform:translateX(-6px);
    transform:translateX(-6px)
  }
  70%{
    -webkit-transform:translateX(4px);
    transform:translateX(4px)
  }
  80%{
    -webkit-transform:translateX(-2px);
    transform:translateX(-2px)
  }
  90%{
    -webkit-transform:translateX(1px);
    transform:translateX(1px)
  }
  100%{
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
}

.zoeti-wobble-horizontal{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-wobble-horizontal:active,.zoeti-wobble-horizontal:focus,.zoeti-wobble-horizontal:hover{
  -webkit-animation-name:zoeti-wobble-horizontal;
  animation-name:zoeti-wobble-horizontal;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-wobble-to-bottom-right{
  10%{
    -webkit-transform:translate(9px,9px);
    transform:translate(9px,9px)
  }
  20%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  30%{
    -webkit-transform:translate(7px,7px);
    transform:translate(7px,7px)
  }
  40%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  50%{
    -webkit-transform:translate(5px,5px);
    transform:translate(5px,5px)
  }
  60%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  70%{
    -webkit-transform:translate(3px,3px);
    transform:translate(3px,3px)
  }
  80%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  90%{
    -webkit-transform:translate(1px,1px);
    transform:translate(1px,1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

@keyframes zoeti-wobble-to-bottom-right{
  10%{
    -webkit-transform:translate(9px,9px);
    transform:translate(9px,9px)
  }
  20%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  30%{
    -webkit-transform:translate(7px,7px);
    transform:translate(7px,7px)
  }
  40%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  50%{
    -webkit-transform:translate(5px,5px);
    transform:translate(5px,5px)
  }
  60%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  70%{
    -webkit-transform:translate(3px,3px);
    transform:translate(3px,3px)
  }
  80%{
    -webkit-transform:translate(-2px,-2px);
    transform:translate(-2px,-2px)
  }
  90%{
    -webkit-transform:translate(1px,1px);
    transform:translate(1px,1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

.zoeti-wobble-to-bottom-right{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-wobble-to-bottom-right:active,.zoeti-wobble-to-bottom-right:focus,.zoeti-wobble-to-bottom-right:hover{
  -webkit-animation-name:zoeti-wobble-to-bottom-right;
  animation-name:zoeti-wobble-to-bottom-right;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-wobble-to-top-right{
  10%{
    -webkit-transform:translate(9px,-9px);
    transform:translate(9px,-9px)
  }
  20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  30%{
    -webkit-transform:translate(7px,-7px);
    transform:translate(7px,-7px)
  }
  40%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  50%{
    -webkit-transform:translate(5px,-5px);
    transform:translate(5px,-5px)
  }
  60%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  70%{
    -webkit-transform:translate(3px,-3px);
    transform:translate(3px,-3px)
  }
  80%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  90%{
    -webkit-transform:translate(1px,-1px);
    transform:translate(1px,-1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

@keyframes zoeti-wobble-to-top-right{
  10%{
    -webkit-transform:translate(9px,-9px);
    transform:translate(9px,-9px)
  }
  20%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  30%{
    -webkit-transform:translate(7px,-7px);
    transform:translate(7px,-7px)
  }
  40%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  50%{
    -webkit-transform:translate(5px,-5px);
    transform:translate(5px,-5px)
  }
  60%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  70%{
    -webkit-transform:translate(3px,-3px);
    transform:translate(3px,-3px)
  }
  80%{
    -webkit-transform:translate(-2px,2px);
    transform:translate(-2px,2px)
  }
  90%{
    -webkit-transform:translate(1px,-1px);
    transform:translate(1px,-1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

.zoeti-wobble-to-top-right{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-wobble-to-top-right:active,.zoeti-wobble-to-top-right:focus,.zoeti-wobble-to-top-right:hover{
  -webkit-animation-name:zoeti-wobble-to-top-right;
  animation-name:zoeti-wobble-to-top-right;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-wobble-to-bottom-left{
  10%{
    -webkit-transform:translate(-9px,9px);
    transform:translate(-9px,9px)
  }
  20%{
    webkittransform:translate(8px,-8px);
    transform:translate(8px,-8px)
  }
  30%{
    webkittransform:translate(-7px,7px);
    transform:translate(-7px,7px)
  }
  40%{
    webkittransform:translate(6px,-6px);
    transform:translate(6px,-6px)
  }
  50%{
    webkittransform:translate(-5px,5px);
    transform:translate(-5px,5px)
  }
  60%{
    webkittransform:translate(4px,-4px);
    transform:translate(4px,-4px)
  }
  70%{
    webkittransform:translate(-3px,3px);
    transform:translate(-3px,3px)
  }
  80%{
    webkittransform:translate(2px,-2px);
    transform:translate(2px,-2px)
  }
  90%{
    webkittransform:translate(-1px,1px);
    transform:translate(-1px,1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

@keyframes zoeti-wobble-to-bottom-left{
  10%{
    -webkit-transform:translate(-9px,9px);
    transform:translate(-9px,9px)
  }
  20%{
    webkittransform:translate(2px,-2px);
    transform:translate(2px,-2px)
  }
  30%{
    webkittransform:translate(-7px,7px);
    transform:translate(-7px,7px)
  }
  40%{
    webkittransform:translate(2px,-2px);
    transform:translate(2px,-2px)
  }
  50%{
    webkittransform:translate(-5px,5px);
    transform:translate(-5px,5px)
  }
  60%{
    webkittransform:translate(2px,-2px);
    transform:translate(2px,-2px)
  }
  70%{
    webkittransform:translate(-3px,3px);
    transform:translate(-3px,3px)
  }
  80%{
    webkittransform:translate(2px,-2px);
    transform:translate(2px,-2px)
  }
  90%{
    webkittransform:translate(-1px,1px);
    transform:translate(-1px,1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

.zoeti-wobble-to-bottom-left{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-wobble-to-bottom-left:active,.zoeti-wobble-to-bottom-left:focus,.zoeti-wobble-to-bottom-left:hover{
  -webkit-animation-name:zoeti-wobble-to-bottom-left;
  animation-name:zoeti-wobble-to-bottom-left;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-wobble-to-top-left{
  10%{
    -webkit-transform:translate(-9px,-9px);
    transform:translate(-9px,-9px)
  }
  20%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  30%{
    -webkit-transform:translate(-7px,-7px);
    transform:translate(-7px,-7px)
  }
  40%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  50%{
    -webkit-transform:translate(-5px,-5px);
    transform:translate(-5px,-5px)
  }
  60%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  70%{
    -webkit-transform:translate(-3px,-3px);
    transform:translate(-3px,-3px)
  }
  80%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  90%{
    -webkit-transform:translate(-1px,-1px);
    transform:translate(-1px,-1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

@keyframes zoeti-wobble-to-top-left{
  10%{
    -webkit-transform:translate(-9px,-9px);
    transform:translate(-9px,-9px)
  }
  20%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  30%{
    -webkit-transform:translate(-7px,-7px);
    transform:translate(-7px,-7px)
  }
  40%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  50%{
    -webkit-transform:translate(-5px,-5px);
    transform:translate(-5px,-5px)
  }
  60%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  70%{
    -webkit-transform:translate(-3px,-3px);
    transform:translate(-3px,-3px)
  }
  80%{
    -webkit-transform:translate(2px,2px);
    transform:translate(2px,2px)
  }
  90%{
    -webkit-transform:translate(-1px,-1px);
    transform:translate(-1px,-1px)
  }
  100%{
    -webkit-transform:translate(0);
    transform:translate(0)
  }
}

.zoeti-wobble-to-top-left{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-wobble-to-top-left:active,.zoeti-wobble-to-top-left:focus,.zoeti-wobble-to-top-left:hover{
  -webkit-animation-name:zoeti-wobble-to-top-left;
  animation-name:zoeti-wobble-to-top-left;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-wobble-top{
  20%{
    -webkit-transform:skew(-16deg);transform:skew(-16deg)
  }
  40%{
    -webkit-transform:skew(12deg);transform:skew(12deg)
  }
  60%{
    -webkit-transform:skew(-8deg);transform:skew(-8deg)
  }
  80%{
    -webkit-transform:skew(4deg);transform:skew(4deg)
  }
  100%{
    -webkit-transform:skew(0);transform:skew(0)
  }
}

@keyframes zoeti-wobble-top{
  20%{
    -webkit-transform:skew(-16deg);transform:skew(-16deg)
  }
  40%{
    -webkit-transform:skew(12deg);transform:skew(12deg)
  }
  60%{
    -webkit-transform:skew(-8deg);transform:skew(-8deg)
  }
  80%{
    -webkit-transform:skew(4deg);transform:skew(4deg)
  }
  100%{
    -webkit-transform:skew(0);transform:skew(0)
  }
}

.zoeti-wobble-top{
  display:inline-block;
  vertical-align:middle;
  -webkit-transform-origin:0 100%;
  transform-origin:0 100%
}

.zoeti-wobble-top:active,.zoeti-wobble-top:focus,.zoeti-wobble-top:hover{
  -webkit-animation-name:zoeti-wobble-top;
  animation-name:zoeti-wobble-top;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

@-webkit-keyframes zoeti-wobble-bottom{
  20%{
    -webkit-transform:skew(-16deg);transform:skew(-16deg)
  }
  40%{
    -webkit-transform:skew(12deg);transform:skew(12deg)
  }
  60%{
    -webkit-transform:skew(-8deg);transform:skew(-8deg)
  }
  80%{
    -webkit-transform:skew(4deg);transform:skew(4deg)
  }
  100%{
    -webkit-transform:skew(0);transform:skew(0)
  }
}

@keyframes zoeti-wobble-bottom{
  20%{
    -webkit-transform:skew(-16deg);transform:skew(-16deg)
  }
  40%{
    -webkit-transform:skew(12deg);transform:skew(12deg)
  }
  60%{
    -webkit-transform:skew(-8deg);transform:skew(-8deg)
  }
  80%{
    -webkit-transform:skew(4deg);transform:skew(4deg)
  }
  100%{
    -webkit-transform:skew(0);transform:skew(0)
  }
}

.zoeti-wobble-bottom{
  display:inline-block;
  vertical-align:middle;
  -webkit-transform-origin:100% 0;
  transform-origin:100% 0
}

.zoeti-wobble-bottom:active,.zoeti-wobble-bottom:focus,.zoeti-wobble-bottom:hover{
  -webkit-animation-name:zoeti-wobble-bottom;
  animation-name:zoeti-wobble-bottom;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

@-webkit-keyframes zoeti-wobble{
  20%{
    -webkit-transform:skew(-16deg);transform:skew(-16deg)
  }
  40%{
    -webkit-transform:skew(12deg);transform:skew(12deg)
  }
  60%{
    -webkit-transform:skew(-8deg);transform:skew(-8deg)
  }
  80%{
    -webkit-transform:skew(4deg);transform:skew(4deg)
  }
  100%{
    -webkit-transform:skew(0);transform:skew(0)
  }
}

@keyframes zoeti-wobble{
  20%{
    -webkit-transform:skew(-16deg);transform:skew(-16deg)
  }
  40%{
    -webkit-transform:skew(12deg);transform:skew(12deg)
  }
  60%{
    -webkit-transform:skew(-8deg);transform:skew(-8deg)
  }
  80%{
    -webkit-transform:skew(4deg);transform:skew(4deg)
  }
  100%{
    -webkit-transform:skew(0);transform:skew(0)
  }
}

.zoeti-wobble{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-wobble:active,.zoeti-wobble:focus,.zoeti-wobble:hover{
  -webkit-animation-name:zoeti-wobble;
  animation-name:zoeti-wobble;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

@-webkit-keyframes zoeti-ring{
  50%{
    -webkit-transform:translateX(5px) rotate(4deg);
    transform:translateX(5px) rotate(4deg)
  }
  100%{
    -webkit-transform:translateX(-5px) rotate(-4deg);
    transform:translateX(-5px) rotate(-4deg)
  }
}

@keyframes zoeti-ring{
  50%{
    -webkit-transform:translateX(5px) rotate(4deg);transform:translateX(5px) rotate(4deg)
  }
  100%{
    -webkit-transform:translateX(-5px) rotate(-4deg);transform:translateX(-5px) rotate(-4deg)
  }
}

.zoeti-ring{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-ring:active,.zoeti-ring:focus,.zoeti-ring:hover{
  -webkit-animation-name:zoeti-ring;
  animation-name:zoeti-ring;
  -webkit-animation-duration:0.2s;
  animation-duration:0.2s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

@-webkit-keyframes zoeti-ring-out{
  10%{
    -webkit-transform:translateX(5px) rotate(4deg);
    transform:translateX(5px) rotate(4deg)
  }
  20%{
    -webkit-transform:translateX(-5px) rotate(-4deg);
    transform:translateX(-5px) rotate(-4deg)
  }
  50%{
    -webkit-transform:translateX(5px) rotate(4deg);
    transform:translateX(5px) rotate(4deg)
  }
  40%{
    -webkit-transform:translateX(-5px) rotate(-4deg);
    transform:translateX(-5px) rotate(-4deg)
  }
  50%{
    -webkit-transform:translateX(2.5px) rotate(2deg);
    transform:translateX(2.5px) rotate(2deg)
  }
  60%{
    -webkit-transform:translateX(-2.5px) rotate(-2deg);
    transform:translateX(-2.5px) rotate(-2deg)
  }
  70%{
    -webkit-transform:translateX(2.5px) rotate(1deg);
    transform:translateX(2.5px) rotate(1deg)
  }
  80%{
    -webkit-transform:translateX(-2.5px) rotate(-1deg);
    transform:translateX(-2.5px) rotate(-1deg)
  }
  90%{
    -webkit-transform:translateX(1px) rotate(0);
    transform:translateX(1px) rotate(0)
  }
  100%{
    -webkit-transform:translateX(-1px) rotate(0);
    transform:translateX(-1px) rotate(0)
  }
}

@keyframes zoeti-ring-out{
  10%{
    -webkit-transform:translateX(5px) rotate(4deg);
    transform:translateX(5px) rotate(4deg)
  }
  20%{
    -webkit-transform:translateX(-5px) rotate(-4deg);
    transform:translateX(-5px) rotate(-4deg)
  }
  30%{
    -webkit-transform:translateX(5px) rotate(4deg);
    transform:translateX(5px) rotate(4deg)
  }
  40%{
    -webkit-transform:translateX(-5px) rotate(-4deg);
    transform:translateX(-5px) rotate(-4deg)
  }
  50%{
    -webkit-transform:translateX(2.5px) rotate(2deg);
    transform:translateX(2.5px) rotate(2deg)
  }
  60%{
    -webkit-transform:translateX(-2.5px) rotate(-2deg);
    transform:translateX(-2.5px) rotate(-2deg)
  }
  70%{
    -webkit-transform:translateX(2.5px) rotate(1deg);
    transform:translateX(2.5px) rotate(1deg)
  }
  80%{
    -webkit-transform:translateX(-2.5px) rotate(-1deg);
    transform:translateX(-2.5px) rotate(-1deg)
  }
  90%{
    -webkit-transform:translateX(1px) rotate(0);
    transform:translateX(1px) rotate(0)
  }
  100%{
    -webkit-transform:translateX(-1px) rotate(0);
    transform:translateX(-1px) rotate(0)
  }
}

.zoeti-ring-out{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-ring-out:active,.zoeti-ring-out:focus,.zoeti-ring-out:hover{
  -webkit-animation-name:zoeti-ring-out;
  animation-name:zoeti-ring-out;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}

@-webkit-keyframes zoeti-spin{
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}

@keyframes zoeti-spin{
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}

.zoeti-spin{
  display:inline-block;
  vertical-align:middle;
}

.zoeti-spin:active,.zoeti-spin:focus,.zoeti-spin:hover{
  -webkit-animation-name:zoeti-spin;
  animation-name:zoeti-spin;
  -webkit-animation-duration:1.0s;
  animation-duration:1.0s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1
}
